body{
    margin:0%;
}
.barline{
    display:flex;
    padding: 2% 2%;
    background-color: black;
    justify-content: space-between;
}
#logo{
    width:20%;
    padding: 5px 5px;
}
#menu{
    display: flex;
    align-items: center;
    padding: 0px 5px;
    font-family: 'Inter:wght@100;600;900', sans-serif;
}
.topnav {
    overflow: hidden;
    background-color: #000000;
}
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}
#cover{
    position: relative;
}
.slogan{
    position: absolute;
    top: 22%;
    left: 20%;
    width: 60%;
    text-align: center;
    font-size: 40px;
}
h2.covertext{
    font-style: italic;
    font-family: 'Inter:wght@100;300;600;900', sans-serif;
    font-size: 64px;
    color:white;
}
#bottomtext{
    position: absolute;
    top: 85%;
    color: white;
    left: 85%;
    padding: 2% 2%;
    font-family: 'Inter:wght@100;200;600;900', sans-serif;
}
#borderline{
    border-left: 3px solid;
    border-right: 3px solid;
    margin: 0px 6%;
}
#contentpart{
    padding: 10% 4%;
    display: flex;
    position: relative;
}
#ownpic{
    width: 160%;
    padding: 0px 60px 0px 0px;
}
h1.title{
    text-align: center;
    padding: 0px 0 40px;
    margin: 0%;
    font-size:28px;
}
p.para{
    line-height: 1.7;
    font-size:17px
}
#shortintro{
    padding: 0px 0px 0px 15px;
}
.button{
    position: absolute;
    left: 80%;
    top: 80%;
}
.buttonstyle a{
    background-color: black;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 28px;
    width: 75%;
}
#footer{
    background-color: black;
    padding: 5% 40px;
    text-align: center;
}
.icon a{
    padding: 0px 20px;
    color:black;
}
#footertex{
    color: white;
    padding: 35px 0px 0px 0px;
}

