div#title{
    text-align: center;
    font-family: 'Lato', sans-serif;
    border: 5px solid black;
    margin: 0px 30%;
}
div#team{
    margin: 10% 1%;
}

div#Murielle{
    text-align: center;
    font-size: 20px;
    width: 25%;
    float: left;
    margin: 10px 50px;
}
div#Inna{
    text-align: center;
    font-size: 20px;
    width: 25%;
    float: left;
    margin: 10px 50px;
}
div#clyde{
    text-align: center;
    font-size: 20px;
    width: 25%;
    float: left;
    margin: 10px 50px;
}