body{
    background-color: black;
    color:white;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
div#left{
    margin:5%;
    display:flex;
}
div#para{
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 20% 4%;
    font-size: 22px;
}
div#img{
    border-right: 2px solid white;
    padding: 5%;
}
