body {
    background-color: #FFFAFA;
    text-align: center;
  }
  
  div#headbackground {
    color: #FA8072;
    font-size: 50px;
    background-image: url("../images/background.jpg");
    background-repeat: repeat-x;
  }
  
  div#bodybackground{
    background-image: url("../images/body-bg.jpg");
    background-repeat: repeat-x;
    text-align: center;
  }
