body{
    margin:0%;
}
.barline{
    display: flex;
    justify-content: space-between;
    background-color: #B1454A;
    align-items: center;
    position: relative;
    flex:1;
}
#logo{
    font-family: 'Playfair Display SC', serif;
    color:white;
    font-size:35px;
    padding: 0 50px;
    position: sticky;
    flex:1;
}
#menu{
    background: #FFF6EB;
    color: black;
    padding: 50px;
    position: sticky;
    flex:1;
}
.subpage{
    display:none;
}
.search{
    display:none;
}

.topnav {
    overflow: hidden;
    display:flex;
    flex-wrap: wrap;
}
.topnav a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 10px 25px;
}
#sec1{
    display:flex;
    position: relative;
}
.leftbody{
    display: flex;
    background-color: #B1454A;
    position: sticky;
    flex:1;
}
.leftimg{
    position:relative;
}
.leftimg h2{
    margin: 0 50px 20px 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 55px;
    color: #fff;
    position:absolute;
    bottom:0;
}
.rightbody{
    position: sticky;
    background-color:#FFF6EB;
    flex:1;
}
.sec1title{
    font-size: 90px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    padding: 0 100px;
    margin: 80px 0 0 0;
}
.sec1subtitle{
    padding: 0 100px;
    color:#5B5A5A;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.button{
    position: relative;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    padding: 5% 0 13% 0;
}
.buttonstyle a{
    background-color: #333333;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 28px;
    position: absolute;
    right: 100px;
}
/* ----------------- HOME/firstpart ------------------- */
.redtext{
    color:#B1454A;
}
/*----------------- Pink text color ----------------- */
#sec2{
    background-image: url("../img/about-bg.png");
    background-repeat: no-repeat
}
#sec2body{
    display: flex;
    margin: 0 10% 5% 17%;
}
.sec2title{
    padding:30px 0 20px 0;
}
.sec2title p{
    font-family: 'Playfair Display SC', serif;
    font-size: 55px;
    text-align: center;
    font-weight: 700;
}
.sec2text{
    font-family: 'Playfair Display', serif;
    padding: 20px 0 20px 100px;
    font-size: 50px;
}
.sec2text p{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
#sec2subtitle{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size:19px;
}
.sec2button{
   padding:80px 0px;
}
.sec2buttonstyle{
    font-family: 'Playfair Display', serif;
    padding:80px 0px;
}
.sec2button {
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 23px;
    position: relative;
    text-decoration: none;
    color:black;
}
.sec2button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px; /* 设置线条的高度 */
    background-color: #000000; /* 调整线条的颜色 */
    bottom: 0;
    left: 0;
}
/* ---------------------- about section -------------- */
#sec3{
    background-image: url("../img/popularfood-bg.png");
    background-repeat: no-repeat;
    width:100%;
    background-color:#B1454A;
    background-position: center center;
}
.sec3title{
    padding: 30px 0 0px 0;
}
.sec3title p{
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    text-align: center;
    font-weight: 700;
    color:white;
}
#sec3part{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 4%;
    justify-content: center;
}
.borderpadding{
    padding:2%;
}
.bigborder{
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 36px;
    background: rgba(255,255,255,.05);
}
.bigborder2{
    padding: 36px 56px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 36px;
    background: rgba(255,255,255,.05);
}
.bigborder3{
    padding: 37px 52px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 36px;
    background: rgba(255,255,255,.05);
}
.borderimg{
    display: flex;
    justify-content: center;
}
.borderinsideimg{
    padding:10% 0;
    background: rgba(227, 227, 227, 0.5);
    border-radius: 36px;
}
.borderinsideimg2{
    padding: 10%;
    background: rgba(227, 227, 227, 0.5);
    border-radius: 36px;
}
.borderinsideimg3{
    padding: 9%;
    background: rgba(227, 227, 227, 0.5);
    border-radius: 36px;
}
.foodname{
    margin-top: 30px;
    font-weight: 400;
    font-size: 30px;
    line-height: 0px;
    color: white;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.price{
    color:white;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.sec3button{
    padding: 3%;
}
.sec3buttonstyle a{
    background-color: white;
    color:#B1454A;
    padding: 15px 43px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 28px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
}
/* ---------------------- popular food -------------- */
#footerpart{
    display: flex;
    padding: 2% 5%;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
}
#footerlogo{
    font-size:30px;
    color:#B1454A;
    font-weight: 600;
    font-family: 'Playfair Display SC', serif;
}
#footertext{
    display: flex;
    font-size: 20px;
}
#footericon a{
    padding: 0 5px;
}