body{
    margin:0%;
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ 
        background-color: #B1454A;
    }
    .dropdown-item{
        padding: 0 5px;
    }
	.navbar .nav-item:hover .dropdown-menu{ 
        display: block;
        width: 90% !important;
        background-color: #A03E41;
        font-size: 15px;
        text-align: center;
    }
    .dropdown-item:hover {
        background-color: white!important; /* 悬停时的背景颜色 */
        color: black !important; /* 悬停时的文本颜色 */
    }
	.navbar .nav-item .dropdown-menu{ 
        margin-top:0; 
        min-width: auto;
        width: auto;
        max-width: none;
    }
    .navbar-expand-lg .navbar-nav{
        flex-direction: row;
        padding: 0 35px;
    }
    .navbar-expand-lg .navbar-nav{
        flex-direction: row;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
	.dropdown-item.active, .dropdown-item:active{
		background-color: white!important; /* 悬停时的背景颜色 */
		color: black !important; /* 悬停时的文本颜色 */
	}
}
.collapse{
    margin-left:50px ;
}
.collapse{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.navbar-nav .dropdown-menu{
	background-color: #B1454A;
}
.nav-item{
    padding: 0 15px;
}
.dropdown-item:hover {
    background-color: white!important; /* 悬停时的背景颜色 */
    color: black!important; /* 悬停时的文本颜色 */
}
.dropdown-item {
    color: white; /* 文本颜色 */
}
.container-fluid{
    background-color: #B1454A;
}
.logo{
    font-family: 'Playfair Display SC', serif;
    color: white;
    font-size: 35px;
    padding: 10px 50px;
    margin: 0;
}

#body{
    margin:5%;
}
.contenttitle{
    width: 30%;
}
.black{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 60px;
}
.pink{
    color:#B1454A;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 60px;
}
#subtitle{
    width:30%;
}
.contenttitlepart{
    margin:0 3%;
}
.form-container {
    margin: 20px;
}

.bottom-border-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px; 
    
}
.bottom-border-form1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px; 
    
}
.bottom-border-form input {
    padding: 8px;
    margin-bottom: 23px;
    border: none;
    border-bottom: 1px solid #999;
}
.bottom-border-form1 input {
    padding: 8px;
    margin-bottom: 23px;
    border: none;
    border-bottom: 1px solid #999;
}
.bodyform{
    margin: 5% 0 0 15%;
}
.contentpart1{
    display: flex;
    padding: 45px 0 0 0;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.contentpart2{
    display: flex;
    padding: 80px 0 0 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contentmaintitle{
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    position: absolute;
    left: 35px;
    bottom: 165px;
}
input#question1{
    width:95%;
}
label#question2{
    width: 40%
}
#position{
    padding: 0 0 20px 5px;
}
input#question3{
    width: 95%
}
input#question4{
    width: 95%
}

.form1{
    width:40%;
}
.form2{
    width:40%;
}
.button{
    position: relative;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    padding: 0 0 50px 0;
}
.buttonstyle a{
    background-color: #B1454A;
    color: white;
    padding: 15px 51px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 28px;
    position: absolute;
    right: 250px;
}
#footerpart{
    display: flex;
    padding: 2% 5%;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
}
#footerlogo{
    font-size:30px;
    color:#B1454A;
    font-weight: 600;
    font-family: 'Playfair Display SC', serif;
}
#footertext{
    display: flex;
    font-size: 20px;
}
#footericon a{
    padding: 0 5px;
}
.icona{
    color:white;
}
@media only screen and (max-width: 1500px){
    .bodyform {
        margin: 5% 0 0 5%;
    }
    .contenttitle {
        width: 40%;
    }
    .contentpart1 {
        display: flex;
        justify-content: flex-end;
    }
    .form1 {
        width: 60%;
    }
    .form2 {
        width: 60%;
    }
    input#question1{
        width: 55%;
    }
    input#question2{
        width:60%;
    }
    input#question3{
        width:60%;
    }
    input#question4{
        width:60%;
    }
}
@media only screen and (max-width: 1280px){
    input#question1{
        width: 65%;
    }
    input#question2{
        width: 65%;
    }
    input#question3{
        width: 65%;
    }
    input#question4{
        width: 65%;
    }
}
@media only screen and (max-width: 1024px){
    input#question1{
        width:80%;
    }
    input#question2{
        width:80%;
    }
    input#question3{
        width:80%;
    }
    input#question4{
        width:80%;
    }
}
@media only screen and (max-width: 912px){
    input#question1{
        width:95%;
    }
    input#question2{
        width:95%;
    }
    input#question3{
        width:95%;
    }
    input#question4{
        width:95%;
    }
}
@media only screen and (max-width: 869px){
    .black {
        font-size: 45px;
    }
    .pink {
        font-size: 45px;
    }
    #subtitle {
        width: 50%;
        font-size: 10px;
    }
    .contenttitle {
        width: 50%;
    }
    .contentpart1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .contentmaintitle {
        font-size: 25px;
        font-weight: 600;
        position: inherit;
        left: 20px;
        bottom: 0;
    }
    .form1 {
        width: 100%;
    }
    .form2 {
        width: 100%;
    }
    .bottom-border-form1 {
        width: 100%;
    }
    .form-container {
        margin: 20px;
        display: flex;
        justify-content: center;
    }
    input#name{
        width:100%;
    }
    input#lastname{
        width:100%;
    }
    input#email{
        width:100%;
    }
    input#phone{
        width:100%;
    }
    input#question1{
        width:100%;
    }
    input#question2{
        width:100%;
    }
    input#question3{
        width:100%;
    }
    input#question4{
        width:100%;
    }
    .form2 {
        width: 90%;
    }

    .bottom-border-form1 {
        width: 65%;
    }
    .button {
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding: 0 0 25px 0;
    }
    .buttonstyle a{
        position: inherit;
        right: 0px;
        padding: 10px 42px;
        font-size: 15px;
    }
    .bottom-border-form{
        width: 100%;
    }
    .bottom-border-form1{
        width: 100%;
    }
    #footerlogo{
        font-size:20px;
    }
    #footertext{
        font-size: 12px;
        display: flex;
        flex-direction: column;
        line-height: 0.1;
        align-items: center;
    }
    .icon{
        width: 40px;
        height: 40px;
    }
    #footerpart{
        padding: 6% 1% 2% 5%;
    }
}
@media only screen and (max-width: 480px){
    .contenttitle {
        width: 60%;
    }
    #position{
        line-height: 2.5;
    }
    select {
        word-wrap: normal;
        width: 100%;
    }
}
@media only screen and (max-width: 420px){
    .contenttitle {
        width: 100%;
    }
}